.Login {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("../../assets/jason-leung-537357-unsplash.png") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &-group {
    text-align: center;
    display: flex;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;

    * {
      margin: 0.3rem;
    }
  }

  &-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
